<div class="container mt-5">
                <h1>{{ site.aboutTitle }}</h1>
                <div class="row mt-3">
                    {% for about in site.aboutBlock %}
                    {% assign colWidth = 12 | divided_by: forloop.length %}
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <div class="tpn_card">
                            <img src="{{ site.baseurl }}/assets/images/{{ about.image }}" class="w-100 mb-4 img img-fluid" />
                            <h5>{{ about.title }}</h5>
                            <p>
                                {{ about.text | strip_html | truncate: 250 }}
                            </p>
                            <a href="javascript:;" class="btn tpn_btn">Read More</a>
                        </div>
                    </div>
                    
                    
                    
                    {% endfor %}

                    
                    
                    
                    
                    
                    
                    
                </div>
            </div>
